autopep8
flake8
flake8-polyfill
isort
jedi
jedi==0.17.2
mccabe==0.6.0
mypy
mypy-extensions
neovim
pycodestyle
pycparser
pyflakes==2.2.0
pylint-celery
pylint-flask
pylint-plugin-utils
pylsp-mypy
pylsp-rope
pynvim
python-lsp-jsonrpc
python-lsp-server
rope
yapf
pydocstyle
pylint-django
pylint
pyparsing
debugpy
python-lsp-ruff
